<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<base target="_blank">
	<title>The Backgammon Compilation: {{ title }}</title>
	<link rel="favicon" href="https://raw.githubusercontent.com/ayvacs/shakespeare/main/icon.png">
	<link rel="stylesheet" href="../_styles/main.css">
	<link rel="stylesheet" href="https://use.typekit.net/yfu3acx.css">
</head>
<body>
	<div id="header">
		<h1>{{ title }}</h1>
	</div>
	<div id="content-main">
		{{ content | safe }}
	</div>
</body>
</html>